.additionally {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.additionally__list {
  @include list-reset;

  margin-top: 34px;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    margin-top: 0;

    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    width: 895px;

    border: none;
  }
}

.additionally__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    justify-content: space-between;
  }
}

.additionally__order-all {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 280px;
  height: 289px;
  margin-top: 39px;
  padding-top: 189px;
  padding-right: 55px;
  padding-left: 55px;

  font-family: "Arial", sans-serif;
  font-size: 16px;

  text-align: center;
  text-decoration: none;

  color: #ffffff;
  background-color: #64a83b;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 280px 289px;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    top: 66px;
    left: 113px;

    display: block;

    width: 55px;
    height: 60px;

    content: "";

    background: url("../img/icon-gift.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    margin-top: 69px;
    padding-top: 72px;
    padding-right: 100px;
    padding-left: 423px;

    line-height: 19px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      top: 65px;
      left: 91px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    margin: 0;
    padding-top: 187px;
    padding-right: 30px;
    padding-left: 30px;

    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      left: 96px;
    }
  }
}
