// .additionally__title {
//   display: flex;

//   min-height: 87px;
//   margin: 0;
//   padding: 0;

//   font-family: "Oswald", "Arial", sans-serif;
//   font-size: 24px;
//   font-weight: 400;
//   line-height: 24px;

//   color: #111111;

//   align-items: center;
// }

.additionally__list {
  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 1px solid #cdcdcd;
}

@media (min-width: $desktop-width) {
  .additionally__list {
    width: 895px;
  }
}

.additionally__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .additionally__wrapper {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__wrapper {
    display: flex;

    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;

    justify-content: space-between;
  }
}

.additionally__order-all {
  display: flex;

  box-sizing: border-box;
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  padding-right: 55px;
  padding-left: 55px;

  font-family: "Arial", sans-serif;
  font-size: 16px;

  text-align: center;
  text-decoration: none;

  color: #ffffff;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover; //временно

  align-items: center;
}

@media (min-width: $tablet-width) {
  .additionally__order-all {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additionally__order-all {
    width: 245px;
    margin: 0;
  }
}
