.additionally {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .additionally {
    margin-bottom: 78px;
  }
}

@media (min-width: $tablet-width) {
  .additionally {
    margin-bottom: 86px;
  }
}

.additionally__list {
  margin: 0;

  padding: 0;
  margin-top: 34px;

  list-style: none;

  border-top: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .additionally__list {
    margin-top: 0;
    box-sizing: border-box;

    border: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .additionally__list {
    width: 895px;
    border: none;
  }
}

.additionally__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .additionally__wrapper {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__wrapper {
    display: flex;

    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;

    justify-content: space-between;
  }
}

.additionally__order-all {
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 280px;
  height: 289px;
  margin-top: 39px;
  padding-top: 189px;
  padding-right: 55px;
  padding-left: 55px;

  font-family: "Arial", sans-serif;
  font-size: 16px;

  text-align: center;
  text-decoration: none;

  color: #ffffff;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  align-items: center;

  &::before {
    position: absolute;
    top: 66px;
    left: 113px;

    display: block;

    width: 55px;
    height: 60px;

    content: "";

    background: url("../img/icon-gift.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .additionally__order-all {
    flex-direction: row;

    width: 708px;
    height: 200px;
    margin-top: 69px;
    padding-top: 0;
    padding-right: 100px;
    padding-left: 423px;

    text-align: left;

    background-size: cover; // временно

    &::before {
      top: 65px;
      left: 91px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additionally__order-all {
    width: 245px;
    margin: 0;
    padding-top: 140px;
    padding-left: 30px;
    padding-right: 30px;
    height: 289px;
    text-align: center;

    &::before {
      left: 96px;
    }
  }
}
