.advantages {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  margin-bottom: 26px;
  padding-left: 80px;
}

.advantage__description {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #444;
}
