.advantages {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 324px;
    min-height: 230px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 245px;
    min-height: 245px;
  }
}

.advantage__description {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #444444;
}
