.catalog {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog__list {
  border-top: 1px solid #ededed;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;

    box-sizing: border-box;
    width: 768px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-bottom: 61px;
    padding-left: 30px;

    border-top: none;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    padding-right: 40px;
    padding-bottom: 69px;
    padding-left: 40px;
  }
}
