.categories {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .categories {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    display: flex;
  }
}
