.content-block {
  padding-top: 18px;
  padding-bottom: 19px;

  background-color: #ffffff;

  &--example {
    padding-bottom: 20px;
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 0;

    &--advantages {
      border-bottom: 1px solid #e6e6e6;
    }

    &--example {
      padding-bottom: 68px;

      background-image: linear-gradient(to bottom, #ffffff 619px, transparent 619px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;

    &--advantages {
      border-bottom: none;
    }

    &--example {
      padding-bottom: 0;

      background-image: linear-gradient(to bottom, #ffffff 199px, transparent 199px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    }
  }
}

.content-block__wrapper {
  @include container;
}

.content-block__title {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}
