.contacts {
  box-sizing: border-box;
  position: relative;

  display: flex;

  width: 320px;
  min-height: 114px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    min-height: 201px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-right: 75px;
    padding-left: 75px;
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;

    width: 570px;

    background-color: #ffffff;
  }
}

.contacts__cooperation {
  width: 140px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-transform: uppercase;

  color: #111111;
}

@media (min-width: $tablet-width) {
  .contacts__cooperation {
    width: 200px;

    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address {
  width: 140px;
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: #444444;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    width: 200px;

    font-size: 16px;
    line-height: 20px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    width: 170px;

    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .contacts__city {
    display: inline-block;

    margin-top: 20px;
  }
}
