.contacts {
  position: relative;

  display: flex;

  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 114px;
  margin-right: auto;
  margin-left: auto;

  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 570px;

    background-color: #ffffff;
  }
}

.contacts__cooperation {
  width: 140px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-transform: uppercase;

  color: #111111;
}

.contacts__address {
  width: 140px;
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: #444444;
}
