.contacts {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: 320px;
  min-height: 114px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  padding-top: 28px;

  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 201px;
    padding: 65px 72px 50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 50%;

    width: 570px;
    margin-left: -610px;
    padding-right: 75px;
    padding-left: 75px;

    background-color: #ffffff;
  }
}

.contacts__cooperation {
  width: 140px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-transform: uppercase;

  color: #111111;

  @media (min-width: $tablet-width) {
    width: 200px;

    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address {
  width: 140px;
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: #444444;

  @media (min-width: $tablet-width) {
    width: 200px;

    font-size: 16px;
    line-height: 20px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 170px;

    text-align: left;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    display: inline-block;

    margin-top: 20px;

    vertical-align: baseline;
  }
}
