.content-block {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-top: 18px;
  padding-bottom: 20px;

  background-color: #ffffff;

  &--example {
    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-width) {
  .content-block {
    padding-top: 44px;

    &--advantages {
      padding-bottom: 0;

      border-bottom: 1px solid #e6e6e6;
    }

    &--example {
      padding-bottom: 71px;

      background-image: linear-gradient(to bottom, #ffffff 619px, transparent 619px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .content-block {
    padding-top: 63px;

    &--advantages {
      border-bottom: none;
    }

    &--example {
      padding-bottom: 70px;

      background-image: linear-gradient(to bottom, #ffffff 199px, transparent 199px), linear-gradient(to right, #f2f2f2 72.55%, #eaeaea 72.55%);
    }
  }
}

.content-block__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .content-block__wrapper {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .content-block__wrapper {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.content-block__title {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  color: #111111;
}

@media (min-width: $tablet-width) {
  .content-block__title {
    font-size: 60px;
    line-height: 60px;
  }
}
