.content-block {
  padding-top: 18px;
  padding-bottom: 20px;

  background-color: #ffffff;

  &--example {
    background-color: #f2f2f2;
  }
}

.content-block__wrapper {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.content-block__title {
  margin: 0;
  margin-bottom: 24px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  color: #111111;
}
