.decorated-title {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  color: #111111;

  &::after {
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;

    height: 3px;

    content: "";

    background-color: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .decorated-title {
    font-size: 36px;
    line-height: 36px;
    // padding-top: 60px;
    // padding-bottom: 77px;

    &::after {
      top: 28px;
    }
  }
}

// @media (min-width: $tablet-width) {
//   .decorated-title {
//      margin-top: 71px;
//   }
// }

.decorated-title__wrapper {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .decorated-title__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .decorated-title__wrapper {
    width: 1300px;
  }
}

.decorated-title__text {
  position: relative;
  z-index: 1;

  display: inline-block;

  padding-right: 20px;
  padding-left: 20px;

  vertical-align: top;
  vertical-align: middle;

  background-color: #ffffff;

  &--long {
    max-width: 181px;
    padding-top: 4px;
  }
}

@media (min-width: $tablet-width) {
  .decorated-title__text {
    padding-right: 38px;
    padding-left: 38px;

    &--long {
      max-width: none;
      padding-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .decorated-title__text {
    padding-right: 40px;
    padding-left: 40px;
  }
}
