.decorated-title {
  position: relative;


  display: block;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 34px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  color: #111111;

  &::after {
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;

    height: 3px;

    content: "";

    background-color: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .decorated-title {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .decorated-title {
    width: 1440px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.decorated-title__wrapper {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.decorated-title__text {
  position: relative;
  z-index: 1;

  display: inline-block;

  padding-right: 20px;
  padding-left: 20px;

  vertical-align: top;
  vertical-align: middle;

  background-color: #ffffff;

  &--long {
    max-width: 181px;
    padding-top: 4px;
  }
}

@media (min-width: $tablet-width) {
  .decorated-title__text {
    padding-right: 40px;
    padding-left: 40px;
  }
}
