.food-program {
  padding-top: 28px;
  padding-bottom: 22px;

  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #68b738 305px, #fff 305px);
  background-repeat: no-repeat;
}

.food-program__wrapper {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.food-program__title {
  margin: 0;
  margin-bottom: 24px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  color: #ffffff;
}

.food-program__slogan {
  display: inline-block;

  margin-bottom: 28px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
}

.food-program__choice {
  font-size: 14px;
  line-height: 18px;
}
