.food-category {
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .food-category {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

.food-category__title {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;

  text-transform: uppercase;

  color: #111111;
}

.food-category__description {
  display: inline-block;

  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  vertical-align: middle;

  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .food-category__description {
    margin-bottom: 30px;
    padding-bottom: 0;

    border-bottom: none;
  }
}

.food-category__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  text-decoration: none;
  text-transform: uppercase;

  color: #111111;

  &:active {
    color: rgba(#111111, 0.3);
  }
}
