.food-category {
  padding: 22px 20px;

  background-color: #f2f2f2;
}

.food-category__title {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;

  text-transform: uppercase;

  color: #111;
}

.food-category__description {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #444;

  &::after {
    display: block;

    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

    content: "";

    background-color: #d9d9d9;
  }
}

.food-category__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  text-decoration: none;
  text-transform: uppercase;

  color: #111;

  &:active {
    color: rgba(#111, 0.3);
  }
}
