.food-item {
  padding-bottom: 24px;

  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .food-item {
    width: 324px;
    min-height: 570px;
    background-color: #f2f2f2; //временно
  }
}

@media (min-width: $desktop-width) {
  .food-item {
    width: 245px;
    min-height: 570px;
    background-color: #f2f2f2; //временно
  }
}

.food-item__wrapper {
  box-sizing: border-box;
  display: flex;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .food-item__wrapper {
    width: auto;
    margin: 0;
  }
}

.food-item__title {
  margin: 0;
  margin-bottom: 12px;
  padding-right: 60px;
}

.food-item__title-link {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-decoration: none;
  text-transform: uppercase;

  color: #111111;
}

.food-item__description-wrapper {
  display: flex;
  flex-direction: column;

  width: 140px;

  justify-content: center;
}

@media (min-width: $tablet-width) {
  .food-item__description-wrapper {
    width: 100%;
  }
}

.food-item__description {
  width: 100%;
  border-collapse: collapse;
}

.food-item__field,
.food-item__value {
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: #444444;
}

.food-item__value {
  text-align: right;
}

.food-item__image-link {
  width: 140px;
  height: 144px;

  order: -1;
}
