.food-program {
  background-image: linear-gradient(to bottom, transparent 305px, #ffffff 280px), linear-gradient(to right, #65a93c 40%, #63a73a 60%);

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff calc(50% + 40px), #63a73a calc(50% + 40px));
    background-repeat: no-repeat, no-repeat;
    background-size: 680px auto, 100% 100%;
    background-position: calc(50% + 380px) 0, 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, #ffffff calc(50% + 40px), #63a73a calc(50% + 40px));
    }
  }
}

.food-program__wrapper {
  @include container;

  padding-top: 27px;
  padding-bottom: 22px;

  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    min-height: 844px;
    padding-top: 34px;
    padding-bottom: 0;

    text-align: left;

    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 696px;
    margin-bottom: 80px;
    padding-top: 222px;
  }
}

.food-program__title {
  margin: 0;
  margin-bottom: 24px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  color: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    margin-bottom: 42px;
    margin-left: 87px;

    font-size: 60px;
    line-height: 60px;

    color: #111111;
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    margin-left: 81px;
  }
}

.food-program__slogan {
  display: inline-block;

  margin-bottom: 28px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  vertical-align: baseline;
  text-transform: uppercase;

  color: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    margin-bottom: 43px;
    margin-left: 87px;

    font-size: 20px;
    line-height: 20px;

    color: #111111;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 81px;
  }
}

.food-program__image-wrapper {
  display: block;

  width: 280px;
  height: 271px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 235px;
    left: 29px;

    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 142px;
    left: 490px;

    width: 552px;
    height: 499px;
  }
}

.food-program__choice {
  width: 280px;
  margin-top: 3px;

  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    width: 245px;
    min-height: 52px;
    margin-top: 0;
    margin-left: 90px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
