@media (min-width: $desktop-width) {
  .form__field-group-wrapper {
    display: flex;

    width: 1220px;
    margin-bottom: 63px;
    padding-right: 110px;
    padding-left: 110px;

    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  &--contacts {
    padding-top: 35px;
    padding-bottom: 25px;
  }

  &--comment {
    padding-top: 36px;
    padding-bottom: 23px;
  }
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    width: 768px;
    padding-right: 68px;
    padding-left: 72px;

    &--contacts,
    &--comment {
      padding-top: 77px;
      padding-bottom: 60px;
    }

    &--send {
      display: flex;

      margin-bottom: 72px;

      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;

    &--basic {
      width: 570px;
      margin: 0;
      padding: 0;
    }

    &--contacts {
      display: flex;

      padding-bottom: 62px;

      justify-content: space-between;
      align-items: center;
    }

    &--comment {
      padding-bottom: 62px;
    }

    &--send {
      margin-bottom: 82px;
    }
  }
}

.form__basic-info {
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .form__basic-info {
    padding-bottom: 73px;
  }
}

@media (min-width: $desktop-width) {
  .form__basic-info {
    padding-bottom: 0;
  }
}

.form__text {
  margin-top: 25px;
  margin-bottom: 40px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  color: #111111;
}

@media (min-width: $tablet-width) {
  .form__text {
    width: 345px;
    margin-top: 57px;
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__text {
    margin-top: 55px;
  }
}

.form__field-group {
  margin: 0;
  padding: 0;

  border: none;

  &--aims {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
}

@media (min-width: $desktop-width) {
  .form__basic-info,
  .form__aims {
    width: 570px;
  }
}

.form__item {
  position: relative;

  display: flex;

  margin-top: 0;
  margin-bottom: 16px;

  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__item {
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .form__item {
    &--contacts {
      width: 570px;
      margin: 0;
    }
  }
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  color: #222222;

  flex-shrink: 0;
}

@media (min-width: $tablet-width) {
  .form__label {
    font-size: 20px;
    line-height: 20px;
  }
}

.form__label--radio {
  position: relative;

  &::before {
    position: absolute;
    top: -3px;
    left: -45px;

    width: 28px;
    height: 28px;

    content: "";
    cursor: pointer;

    border: 1px solid #cecece;
    border-radius: 50%;
    background-color: #ffffff;

    justify-content: center;
    align-items: center;
  }

  &::after {
    position: absolute;
    top: 6px;
    left: -36px;

    display: none;

    width: 12px;
    height: 12px;

    content: "";

    border-radius: 50%;
    background-color: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .form__label--radio {
    &::before {
      top: -5px;
      left: -59px;

      width: 38px;
      height: 38px;
    }

    &::after {
      left: -48px;

      width: 18px;
      height: 18px;
    }
  }
}

.form__label--checkbox {
  &::before {
    position: absolute;
    top: -6px;
    left: -45px;

    width: 28px;
    height: 28px;

    content: "";
    cursor: pointer;

    border: 1px solid #cecece;
    background-color: #ffffff;

    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .form__label--checkbox {
    &::before {
      top: -9px;
      left: 0;

      width: 38px;
      height: 38px;
    }
  }
}

.form__field {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  width: 100%;
  height: 43px;
  margin-left: 15px;
  padding: 10px 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 0 1px #e6e6e6;

  &--email,
  &--phone {
    padding-right: 40px;
  }

  &--comment {
    min-height: 150px;
    margin-left: 0;

    resize: none;
  }

  &::-webkit-input-placeholder {
    color: #444444;
  }

  &::-moz-placeholder {
    color: #444444;
  }

  &:-moz-placeholder {
    color: #444444;
  }

  &:-ms-input-placeholder {
    color: #444444;
  }

  &:hover {
    box-shadow: 0 0 0 1px #cdcdcd;
  }

  &:active,
  &:focus {
    border-color: #444444;
    box-shadow: 0 0 0 1px #444444;
  }

  &:invalid {
    border-color: #ff8282;
    box-shadow: 0 0 0 1px #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .form__field {
    height: 50px;
    margin-left: 18px;
    padding: 10px 16px;
    padding-right: 50px;

    font-size: 20px;
    line-height: 20px;

    &--comment {
      height: 172px;
      margin-left: 0;
      padding: 13px 16px;
    }
  }
}

.form__mail-icon {
  position: absolute;
  top: calc(50% - 7px);
  right: 15px;

  width: 17px;
  height: 13px;
}

.form__phone-icon {
  position: absolute;
  top: calc(50% - 10px);
  right: 12px;

  width: 20px;
  height: 20px;
}

@media (min-width: $tablet-width) {
  .form__mail-icon {
    right: 18px;
  }

  .form__phone-icon {
    right: 15px;
  }
}

.form__field--email:active ~ .form__mail-icon,
.form__field--email:focus ~ .form__mail-icon,
.form__field--phone:active ~ .form__phone-icon,
.form__field--phone:focus ~ .form__phone-icon {
  fill: #68b738;
}

.form__field--email:invalid ~ .form__mail-icon,
.form__field--phone:invalid ~ .form__phone-icon {
  fill: #ff8282;
}

.form__aims-wrapper {
  margin-bottom: 24px;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .form__aims-wrapper {
    margin-bottom: 69px;

    border: none;
    background-image: linear-gradient(to right, #ffffff 50%, transparent 50%), linear-gradient(to bottom, #e6e6e6 1px, #ffffff 1px, #ffffff calc(100% - 1px), #e6e6e6 calc(100% - 1px));
  }
}

@media (min-width: $desktop-width) {
  .form__aims-wrapper {
    width: 570px;
    margin-bottom: 0;

    background-image: none;
  }
}

.form__aims {
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 66px;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .form__aims {
    width: 628px;
    padding-top: 34px;
    padding-right: 30px;
    padding-bottom: 31px;
    padding-left: 87px;

    border: 1px solid #e6e6e6;
    border-right: none;
  }
}

@media (min-width: $desktop-width) {
  .form__aims {
    width: 570px;
    margin: 0;

    border: 1px solid #e6e6e6;
  }
}

.form__aim {
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__aim {
    margin-bottom: 30px;
  }
}

.form__radio:checked + .form__label--radio::after {
  display: block;
}

.form__radio:hover + .form__label--radio::before,
.form__checkbox:hover + .form__label--checkbox::before {
  border-color: #bbbbbb;
}

.form__radio:enabled:active + .form__label,
.form__checkbox:enabled:active + .form__label {
  opacity: 0.3;
}

.form__additional-products {
  margin: 0;
  padding-top: 41px;
  padding-bottom: 19px;
  padding-left: 46px;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .form__additional-products {
    display: flex;

    padding-top: 66px;
    padding-bottom: 13px;
    padding-left: 0;

    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form__additional-products {
    padding-bottom: 69px;
  }
}

.form__additional-product {
  position: relative;

  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__additional-product {
    box-sizing: border-box;
    width: 285px;
    margin-bottom: 49px;
    padding-left: 58px;
  }
}

@media (min-width: $desktop-width) {
  .form__additional-product {
    width: 245px;
    margin: 0;
  }
}

.form__checkbox:checked + .form__label--checkbox::before {
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 21px;
}

.form__send {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .form__send {
    height: 52px;

    font-size: 20px;
  }
}

.form__warning {
  display: block;

  margin-top: 20px;
  margin-bottom: 33px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-align: center;

  color: #444444;
}

@media (min-width: $tablet-width) {
  .form__send,
  .form__warning {
    width: 283px;
    margin: 0;
  }

  .form__warning {
    font-size: 16px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form__send,
  .form__warning {
    width: 570px;
  }
}
