.form__wrapper {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.form__text {
  margin: 0;
  margin-bottom: 39px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  color: #111111;
}

.form__field-group {
  margin: 0;
  padding: 0;

  border: none;

  &--aims {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
}

.form__item {
  display: flex;

  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 14px;
  margin-left: auto;

  align-items: center;
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  color: #222222;

  flex-shrink: 0;
}

.form__field {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-left: 15px;
  padding: 10px 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  border: 1px solid #e6e6e6;
  outline: none;

  &--comment {
    min-height: 150px;
    margin: 0;

    resize: none;
  }

  &::-webkit-input-placeholder {
    color: #444444;
  }

  &::-moz-placeholder {
    color: #444444;
  }

  &:-moz-placeholder {
    color: #444444;
  }

  &:-ms-input-placeholder {
    color: #444444;
  }

  &:hover {
    padding: 9px 12px;

    border: 2px solid #cdcdcd;
  }

  &:active,
  &:focus {
    padding: 9px 12px;

    border: 2px solid #444444;
  }
}

.form__aims {
  width: 280px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-top: 25px;

  list-style: none;
}

.form__aim {
  margin-bottom: 23px;
}

.form__radio:enabled:active + .form__label,
.form__checkbox:enabled:active + .form__label {
  opacity: 0.3;
}

.form__title {
  width: 280px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  padding: 0;
  padding-top: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  color: #111111;
}

.form__additional-products {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__additional-product {
  margin-bottom: 23px;
}

.form__send {
  margin-top: 20px;
}

.form__warning {
  margin-top: 20px;
  margin-bottom: 30px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-align: center;

  color: #444444;
}
