.form {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .form {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1440px;
    margin-top: 194px;
  }
}

.form__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    width: 768px;
    padding-right: 66px;
    padding-left: 66px;

    &--send {
      display: flex;

      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;

    &--basic,
    &--contacts {
      display: flex;

      justify-content: space-between;
      align-items: center;
    }
  }
}

.form__text {
  margin: 0;
  margin-bottom: 39px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  color: #111111;
}

.form__field-group {
  margin: 0;
  padding: 0;

  border: none;

  &--aims {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
}

@media (min-width: $desktop-width) {
  .form__basic-info,
  .form__aims {
    width: 570px;
  }
}

.form__item {
  display: flex;

  margin-top: 0;
  margin-bottom: 14px;

  align-items: center;
}

@media (min-width: $desktop-width) {
  .form__item {
    &--contacts {
      width: 570px;
    }
  }
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  color: #222222;

  flex-shrink: 0;
}

.form__field {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-left: 15px;
  padding: 10px 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;

  border: 1px solid #e6e6e6;
  outline: none;

  &--comment {
    min-height: 150px;
    margin: 0;

    resize: none;
  }

  &::-webkit-input-placeholder {
    color: #444444;
  }

  &::-moz-placeholder {
    color: #444444;
  }

  &:-moz-placeholder {
    color: #444444;
  }

  &:-ms-input-placeholder {
    color: #444444;
  }

  &:hover {
    padding: 9px 12px;

    border: 2px solid #cdcdcd;
  }

  &:active,
  &:focus {
    padding: 9px 12px;

    border: 2px solid #444444;
  }
}

.form__aims {
  margin: 0;
  padding: 0;
  padding-top: 25px;

  list-style: none;
}

.form__aim {
  margin-bottom: 23px;
}

.form__radio:enabled:active + .form__label,
.form__checkbox:enabled:active + .form__label {
  opacity: 0.3;
}

.form__title {
  margin-bottom: 32px;
  padding: 0;
  padding-top: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  color: #111111;
}

.form__additional-products {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .form__additional-products {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__additional-product {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .form__additional-product {
    width: 285px;
  }
}

.form__send {
  margin-top: 20px;
}

.form__warning {
  display: block;

  margin-top: 20px;
  margin-bottom: 30px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-align: center;

  color: #444444;
}

@media (min-width: $tablet-width) {
  .form__send,
  .form__warning {
    width: 285px;
    margin: 0;
  }

  .form__warning {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form__send,
  .form__warning {
    width: 570px;
  }
}
