.logo {
  display: flex;

  outline: none;

  justify-content: center;
  align-items: center;

  &--header {
    width: 191px;

    justify-content: space-between;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    // min-height: auto;
    // padding: 0;

    &--header {
      width: 173px;

      border-bottom: none;
    }
  }
}

.logo__image {
  display: inline-block;

  vertical-align: top;
}
