.logo {
  display: block;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--main-page:hover,
  &--main-page:focus,
  &--main-page:active {
    opacity: 1;
  }
}

.logo__image {
  display: block;

  &--icon {
    width: 33px;
    height: 38px;
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--header {
    width: 101px;
    height: 18px;

    @media (min-width: $tablet-width) {
      width: 173px;
      height: 58px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }

  &--footer {
    width: 128px;
    height: 24px;
  }
}
