.logo {
  display: flex;

  width: 128px;
  height: 24px;

  outline: none;

  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--header {
    width: 191px;
    height: 38px;

    justify-content: space-between;

    &::before {
      width: 33px;
      height: 38px;

      content: url("http://placehold.it/33x38");
    }
  }
}
