.logo {
  display: flex;

  outline: none;

  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  &--icon {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--main-page {
    pointer-events: none;
  }
}

.logo__image {
  display: block;

  &--icon {
    width: 33px;
    height: 38px;
    margin-bottom: 5px;
    margin-right: 57px;
  }

  &--header {
    width: 101px;
    height: 18px;
    margin-right: 8px;

    @media (min-width: $tablet-width) {
      width: 173px;
      height: 58px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }

  &--footer {
    width: 128px;
    height: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
