.main-nav__top-bar {
  display: flex;

  min-height: 65px;
  padding-right: 20px;
  padding-left: 20px;

  border-bottom: #e6e6e6 solid 1px;
  background-color: #ffffff;

  align-items: center;
}

.main-nav__logo {
  width: 191px;
}

.main-nav__toggle {
  position: relative;

  width: 24px;
  height: 18px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  cursor: pointer;
  vertical-align: middle;

  border: none;
  border-radius: none;
  outline: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 8px, #222222 8px, #222222 10px, transparent 10px);

  &::before,
  &::after {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    content: "";

    background-color: #222222;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active {
    background-image: none;
  }

  &--active::before {
    top: calc(50% - 1px);

    transform: rotate(45deg);
  }

  &--active::after {
    bottom: calc(50% - 1px);

    transform: rotate(-45deg);
  }
}
