.navigation {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #fff;
}

.navigation__item {
  display: flex;

  box-sizing: border-box;
  min-height: 66px;
  padding: 15px 35px;

  border-bottom: #e6e6e6 solid 1px;

  align-items: center;
  justify-content: center;
}

.navigation__link {
  position: relative;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #111;
  outline: none;

  &:hover,
  &:focus {
    color: rgba(#111, 0.7);
  }

  &:active {
    color: rgba(#111, 0.3);
  }

  &--active {
    cursor: default;
  }

  &--active::after {
    position: absolute;
    bottom: -12px;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    content: "";

    background-color: #68b738;
  }
}
