.navigation {
  &--closed {
    display: none;
  }

  &--opened,
  &--nojs {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.navigation__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.navigation__item {
  display: flex;

  box-sizing: border-box;

  border-bottom: #e6e6e6 solid 1px;

  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: auto;
    margin-left: 36px;
    padding: 0;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}

.navigation__link {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 320px;
  height: 65px;
  padding: 20px;
  padding-top: 23px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #111111;

  &:hover,
  &:focus {
    color: rgba(#111111, 0.6);
  }

  &:active {
    color: rgba(#111111, 0.3);
  }

  &--active,
  &--main-page-active {
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    height: 34px;
    padding: 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;

    border-bottom: 2px solid transparent;

    &--active,
    &--main-page-active {
      border-bottom: 2px solid #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    height: 34px;

    font-size: 20px;

    &--main-page {
      color: #ffffff;
    }

    &--main-page:hover,
    &--main-page:focus {
      color: rgba(#ffffff, 0.6);
    }

    &--main-page:active {
      color: rgba(#ffffff, 0.3);
    }

    &--main-page-active {
      border-color: #ffffff;
    }
  }
}
