.navigation {
  &--closed {
    display: none;
  }

  &--opened,
  &--nojs {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.navigation__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__item {
  display: flex;

  box-sizing: border-box;

  border-bottom: #e6e6e6 solid 1px;

  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: auto;
    margin-left: 36px;
    padding: 0;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}

.navigation__link {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: 320px;
  height: 65px;
  padding: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;

  text-decoration: none;
  text-transform: uppercase;

  color: #111111;
  outline: none;

  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active:hover,
  &--active:focus,
  &--active:active,
  &--main-page-active:hover,
  &--main-page-active:focus,
  &--main-page-active:active {
    cursor: default;

    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    height: 45px;
    padding: 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;

    border-bottom: 2px solid transparent;

    &--active,
    &--main-page-active {
      border-bottom: 2px solid #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;

    &--main-page {
      color: #ffffff;
    }

    &--main-page-active {
      border-color: #ffffff;
    }
  }
}
