.page-header {
  @media (min-width: $tablet-width) {
    display: flex;

    box-sizing: border-box;
    width: 100%;
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32px;
    padding-right: 30px;
    padding-bottom: 32px;
    padding-left: 30px;

    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1300px;
    padding-top: 63px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;

    &--main-page {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
    }
  }
}

.page-header__top-bar {
  border-bottom: #e6e6e6 solid 1px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.page-header__logo-wrapper {
  display: flex;

  box-sizing: border-box;
  width: 320px;
  min-height: 65px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;

  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 0;

    border-bottom: none;
  }
}

.page-header__nav-toggle {
  position: relative;

  display: block;

  width: 24px;
  height: 18px;
  margin: 0;
  padding: 0;

  cursor: pointer;

  border: none;
  border-radius: none;
  outline: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 8px, #222222 8px, #222222 10px, transparent 10px);

  &::before,
  &::after {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    content: "";

    background-color: #222222;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--nojs {
    display: none;
  }

  &--active {
    background-image: none;
  }

  &--active::before {
    top: calc(50% - 1px);

    transform: rotate(45deg);
  }

  &--active::after {
    bottom: calc(50% - 1px);

    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
