.page-footer {
  background-color: #f2f2f2;
}

.page-footer__contacts {
  &--main-page {
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__contacts {
    position: relative;

    width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page-footer__map {
  display: flex;

  background-color: #f2f2f2;

  justify-content: center;
}

.page-footer__map-link {
  position: relative;

  &::after {
    position: absolute;
    top: 139px;
    left: 129px;

    display: block;

    width: 55px;
    height: 53px;

    content: "";

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.page-footer__map-image {
  display: block;
}

.page-footer__bottom-wrapper {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom-wrapper {
    display: flex;

    width: 768px;
    padding-right: 30px;
    padding-left: 30px;

    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__bottom-wrapper {
    display: flex;

    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;

    justify-content: space-between;
  }
}

.page-footer__logo-wrapper {
  box-sizing: border-box;
  padding-top: 39px;
  padding-bottom: 28px;

  text-align: center;
}

.page-footer__copyright-wrapper {
  display: flex;

  min-height: 78px;

  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright {
  display: flex;

  width: 320px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  text-decoration: none;

  color: #444444;

  align-items: center;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }

  &:hover svg,
  &:focus svg {
    fill: #68b738;
  }

  &:active svg {
    opacity: 0.3;

    fill: #68b738;
  }
}
