.page-header {
  position: relative;

  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;

    width: 768px;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 24px;
    padding-left: 30px;

    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1440px;
    padding-top: 0;
    padding-right: 110px;
    padding-bottom: 0;
    padding-left: 110px;
  }
}

.page-header__logo-wrapper {
  display: flex;

  box-sizing: border-box;
  min-height: 66px;
  padding: 20px 20px;

  border-bottom: #e6e6e6 solid 1px;

  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrapper {
    min-height: auto;
    padding: 0;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-wrapper {
    position: absolute;
    top: 54px;
    left: 110px;
  }
}

.page-header__nav-toggle {
  position: relative;

  width: 24px;
  height: 18px;
  margin: 0;
  padding: 0;

  cursor: pointer;

  border: none;
  border-radius: none;
  outline: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 8px, #222222 8px, #222222 10px, transparent 10px);

  &::before,
  &::after {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    content: "";

    background-color: #222222;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active {
    background-image: none;
  }

  &--active::before {
    top: calc(50% - 1px);

    transform: rotate(45deg);
  }

  &--active::after {
    bottom: calc(50% - 1px);

    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__main-nav {
    position: absolute;
    top: 54px;;
    right: 110px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__list {
    display: flex;
  }
}
