.page-main__title {
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  color: #111111;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 768px;
    padding-top: 35px;
    padding-right: 30px;
    padding-left: 30px;

    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 1440px;
    padding-top: 80px;
    padding-right: 110px;
    padding-left: 110px;
  }
}
