.page-footer {
  background-color: #f2f2f2;
}

.page-footer__contacts {
  &--main-page {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__map {
  background-color: #f2f2f2;
}

.page-footer__map-link {
  position: relative;

  display: block;

  width: 320px;
  height: 362px;
  margin-right: auto;
  margin-left: auto;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 320px 362px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  &::after {
    position: absolute;
    top: 139px;
    left: 129px;

    width: 55px;
    height: 53px;

    content: "";

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 396px;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: 767px 396px;

    &::after {
      top: 146px;
      left: 322px;

      width: 113px;
      height: 106px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1440px;
    height: 400px;

    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: 1440px 400px;

    &::after {
      top: 150px;
      left: 952px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.page-footer__bottom-wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;

    min-height: 150px;
    padding-top: 44px;
    padding-bottom: 44px;

    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.page-footer__logo-wrapper {
  display: block;

  box-sizing: border-box;
  min-height: 94px;
  padding: 25px;
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: auto;
    padding: 0;
    padding-top: 20px;
  }
}

.page-footer__copyright-wrapper {
  box-sizing: border-box;
  min-height: 78px;
  padding: 21px 0;

  @media (min-width: $tablet-width) {
    min-height: auto;
    padding: 0;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}

.page-footer__copyright {
  display: flex;

  width: 280px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  text-decoration: none;

  color: #444444;

  align-items: center;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }

  &:hover .page-footer__copyright-icon,
  &:focus .page-footer__copyright-icon {
    fill: #68b738;
  }

  &:active .page-footer__copyright-icon,
  .page-footer__copyright-icon:active {
    opacity: 0.3;

    fill: #68b738;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.page-footer__copyright-icon {
  width: 27px;
  height: 34px;

  fill: #666666;
}
