.page-main__title {
  display: flex;

  width: 280px;
  min-height: 90px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  color: #111;

  align-items: center;
}
