.page-footer {
  background-color: #f2f2f2;
}

.page-footer__contacts {
  &--main-page {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page-footer__map {
  background-color: #f2f2f2;
}

.page-footer__map-link {
  position: relative;

  display: block;

  width: 100%;
  max-width: 320px;
  height: 362px;
  margin-right: auto;
  margin-left: auto;

  &::after {
    position: absolute;
    top: 139px;
    left: 129px;

    width: 55px;
    height: 53px;

    content: "";

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    max-width: 768px;
    height: 396px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1300px;
    height: 400px;
  }
}

.page-footer__map-image {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
}

.page-footer__bottom-wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;

    min-height: 150px;

    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.page-footer__logo-wrapper {
  display: flex;

  min-height: 94px;

  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 162px;

    justify-content: flex-start;
  }
}

.page-footer__copyright-wrapper {
  display: flex;

  min-height: 78px;

  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.page-footer__logo {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-footer__copyright {
  display: flex;

  width: 320px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  text-decoration: none;

  color: #444444;

  align-items: center;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }

  &:hover svg,
  &:focus svg {
    fill: #68b738;
  }

  &:active svg {
    opacity: 0.3;

    fill: #68b738;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}
