.page-main__title {
  @include container;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 28px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  color: #111111;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    padding-bottom: 25px;

    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}
