.slider {
  display: flex;
  justify-content: space-between;

  position: relative;

  padding-top: 273px;
  padding-bottom: 15px;

  &::before {
    position: absolute;
    top: 276px;
    left: 99px;

    display: block;

    width: 82px;
    height: 12px;

    content: "";

    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    padding-top: 532px;
    padding-bottom: 0;

    &::before {
      top: 544px;
      left: 139px;

      width: 428px;
      height: 6px;

      border: none;
      background-color: #dcdcdc;
    }
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    margin-right: -40px;
    padding-top: 439px;

    &::before {
      top: 451px;
      left: 110px;

      width: 428px;
      height: 6px;

      border: none;
      background-color: #dcdcdc;
    }
  }
}

.slider__image-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -20px;

  width: 320px;
  height: 240px;

  @media (min-width: $tablet-width) {
    z-index: 0;

    overflow: hidden;

    height: 517px;

    &--before {
      left: 16px;

      width: 338px;
    }

    &--after {
      right: 2px;
      left: auto;

      display: flex;

      width: 352px;

      justify-content: flex-end;
    }
  }

  @media (min-width: $desktop-width) {
    top: -114px;

    &--before {
      left: -40px;

      width: 366px;
    }

    &--after {
      right: 0;

      width: 325px;
    }
  }
}

.slider__image {
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 690px;
    max-width: 690px;
    height: 517px;
  }
}

.slider__label {
  position: relative;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  cursor: pointer;
  text-transform: uppercase;

  color: #111111;

  &--before {
    margin-left: 44px;
  }

  &--after {
    margin-right: 38px;
  }

  &--before::before,
  &--after::before {
    position: absolute;
    z-index: 1;

    display: block;

    width: 35px;
    height: 6px;

    content: "";

    opacity: 0;
    border-radius: 3px;
    background-color: #68b738;
  }

  &--before::before {
    top: 7px;
    left: 61px;
  }

  &--after::before {
    top: 7px;
    left: -59px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted #bebebe;

    &--before {
      margin-left: 69px;
    }

    &--after {
      margin-right: 69px;
    }

    &--before::before,
    &--after::before {
      display: none;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid #bebebe;
    }

    &:active {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--before {
      margin-left: 40px;
    }

    &--after {
      margin-right: 40px;
    }
  }
}

.slider__input-before:checked ~ .slider__image-wrapper--before,
.slider__input-after:checked ~ .slider__image-wrapper--after {
  z-index: 0;
}

.slider__input-before:checked ~ .slider__label--before::before,
.slider__input-after:checked ~ .slider__label--after::before {
  opacity: 1;
}

.slider__handle {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 530px;
    left: 337px;

    display: flex;

    box-sizing: border-box;
    width: 34px;
    height: 34px;
    padding: 0;

    cursor: pointer;

    border: 1px solid #cecece;
    border-radius: 50%;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    justify-content: center;

    &::before {
      width: 8px;
      height: 8px;

      content: "";

      border-radius: 50%;
      background-color: #68b738;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 1px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $desktop-width) {
    top: 437px;
    left: 308px;
  }
}
