.slider {
  padding-bottom: 15px;

  text-align: center;
}

.slider__item {
  position: relative;
  width: 320px;

  margin-right: auto;
  margin-left: auto;
}

.slider__image {
  &--after {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slider__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  cursor: pointer;
  text-transform: uppercase;

  color: #111111;
}

.slider__input-before:checked ~ .slider__item--before {
  z-index: 0;
}

.slider__input-after:checked ~ .slider__item--after {
  z-index: 0;
}
