.slider {
  position: relative;

  padding-top: 273px;
  padding-bottom: 15px;

  text-align: center;
}

@media (min-width: $desktop-width) {
  .slider {
    width: 650px;
  }
}

.slider__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -20px;
  max-width: 320px;
}

@media (min-width: $tablet-width) {
  .slider__image {
    top: 0;
    left: calc(50% - 160px); //временно
  }
}

.slider__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  cursor: pointer;
  text-transform: uppercase;

  color: #111111;
}

.slider__input-before:checked ~ .slider__image--before {
  z-index: 0;
}

.slider__input-after:checked ~ .slider__image--after {
  z-index: 0;
}
