.social {
  @include list-reset;

  display: flex;

  box-sizing: border-box;
  width: 280px;
  min-height: 64px;
  padding: 0 65px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f2f2f2;

  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__item {
  margin-right: auto;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
