.stats {
  display: flex;

  justify-content: space-between;
}

.stats__item {
  position: relative;

  display: flex;

  width: 122px;
  height: 54px;
  margin: 0;
  margin-bottom: 35px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  text-transform: uppercase;

  color: #111;
  border: 1px solid #cdcdcd;
  border-radius: 4px;

  justify-content: center;
  align-items: center;
}

.stats__label {
  position: absolute;
  bottom: -16px;
  left: calc(50% - 44px);

  display: block;

  box-sizing: border-box;
  width: 88px;
  padding-right: 10px;
  padding-left: 10px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;

  text-align: center;
  text-transform: none;

  color: #444;
  background-color: #f2f2f2;
}
