//base
@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/fonts.scss";
@import "base/global.scss";

//common
@import "base/visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/decorated-title.scss";

//header
@import "blocks/page-header.scss";
@import "blocks/logo.scss";
@import "blocks/navigation.scss";

//content
@import "blocks/page-main.scss";

//index.html content
@import "blocks/food-program.scss";
@import "blocks/food-categories.scss";
@import "blocks/food-category.scss";
@import "blocks/content-block.scss";
@import "blocks/advantages.scss";
@import "blocks/advantage.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";

//catalog.html content
@import "blocks/catalog.scss";
@import "blocks/food-item.scss";
@import "blocks/additionally.scss";
@import "blocks/additional-product.scss";

//form.html content
@import "blocks/form.scss";

//footer
@import "blocks/page-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/social-button.scss";
