@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
  url("../fonts/oswaldmedium.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/oswaldregular.woff2") format("woff2"),
  url("../fonts/oswaldregular.woff") format("woff");
}

body {
  width: 320px;
  margin: 0;
  padding: 0;
}

//header
@import "blocks/visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/main-nav.scss";
@import "blocks/logo.scss";
@import "blocks/navigation.scss";

//content
@import "blocks/page-main.scss";

//index.html content
@import "blocks/food-program.scss";
@import "blocks/categories.scss";
@import "blocks/food-categories.scss";
@import "blocks/food-category.scss";
@import "blocks/content-block.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";

//catalog.html content
@import "blocks/catalog.scss";
@import "blocks/food-item.scss";
@import "blocks/additionally.scss";
@import "blocks/additional-product.scss";


//form.hhtml content
@import "blocks/form.scss";

//footer
@import "blocks/page-footer.scss";
@import "blocks/map.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
